h1 {
  display: inline;
  background-color: red;
}

h2 {
  display: inline;
  background-color: brown;
}

p {
  background-color: orange;
  display: block;
}

a {
  background-color: green;
  display: block;
}

button {
  display: block;
}